:root {
    --background-color: #FFF;
--accent-color: #FFFFFF;
--aditional-color: #2196F3;
--text-color: #757575;
--footer-color: #2F303A;
--background-section: #F5F4FA;
--heder-text: #212121;
--logo-color: #000;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
img {display: block;}


body {
    font-family: "Roboto", sans-serif; 
}
.conteiner {
    outline: 1px solid red;
    width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
padding-top: 24px;
padding-bottom: 25px;
}
.header-box {
    display: flex;
    align-items: center;
}
.logo-heder {
    color: var(--aditional-color);
    font-family: "Raleway", sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}


.logo-footer {
    color: var(--logo-color);
    font-family: "Raleway", sans-serif;
   font-size: 26px;
   font-weight: 700;
   line-height: 1.38;
   letter-spacing: 0.78px;
   margin-right: 93px;
   }
   .nav {display: flex;
    margin-right: auto;
}

   .list {
    list-style: none;
    display: flex;
    gap: 50px;
   }

.peges {
color: var(--heder-text);
    font-size: 14px;
font-weight: 500;
line-height: 1.1;
letter-spacing: 0.28px;
}
.peges:hover,
.peges:focus {
    color: var(--aditional-color);
}

.list-kontact {
    list-style: none;
    display: flex;
    gap: 50px;
}

.contant {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
}
.contant:hover,
.contant:focus {
     color: var(--aditional-color);
}

.seiten {
    padding-top: 90px;
    padding-bottom: 56px;
}

.active {
    color: var(--aditional-color);
}
.list-button {
    display: flex;
justify-content: center;
    gap: 30px;
    list-style: none;
}


.link-button {
    color:var(--heder-text);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.62; /* 162.5% */
letter-spacing: 0.48px;
margin-top: 33px;
width: 125px;
height: 38px;
}

.link-button:hover,
.link-button:focus {
    background-color: var(--aditional-color);
    color: var(--background-section);
    
}


.list-img {
    display: flex;
    gap: 30px;
    list-style: none;
    margin-top: 50px;
    flex-wrap: wrap;
}
.bay-img {
    width: 370px; ;
    height: 294px; ;
}


.teitle {
    color:var(--heder-text);
font-size: 18px;
font-weight: 700;
line-height: 2; /* 200% */
letter-spacing: 1.08px;
margin-top: 20px;
}

.teitle-text {
    color: var(--text-color);
font-size: 16px;
font-weight: 400;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.48px;
margin-top: 4px;
}

.logo-disk {
    color: var(--background-color);
    font-family: "Raleway", sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}


.footer-addres {
    color: var(--background-color);
    font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
padding-top: 20px;
}




.foter {
    background-color: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.item-addres {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
    padding-top: 9px;
}