:root {
    --background-color: #FFF;
--accent-color: #FFFFFF;
--aditional-color: #2196F3;
--text-color: #757575;
--footer-color: #2F303A;
--background-section: #F5F4FA;
--heder-text: #212121;
--logo-color: #000;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif; 
}
.logo-heder {
    color: var(--aditional-color);
    font-family: "Raleway", sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}
.logo-footer {
    color: var(--logo-color);
    font-family: "Raleway", sans-serif;
   font-size: 26px;
   font-weight: 700;
   line-height: 1.38;
   letter-spacing: 0.78px;
   }
.nav-link {
color: var(--heder-text);
    font-size: 14px;
font-weight: 500;
line-height: 1.1;
letter-spacing: 0.28px;
}
.nav-link:hover {
    color: var(--aditional-color);
}
.active {
    color: var(--aditional-color);
}
.nav-list {
    list-style: none;
}

.contant {
color: var(--text-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}
.contant:hover {
    color: var(--aditional-color);
} 
.list-kontact {
    list-style: none;
}
.link-button {
    color:var(--heder-text);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.62; /* 162.5% */
letter-spacing: 0.48px;
}
.link-button:hover {
    color: var(--aditional-color);
}
.list-button {
    list-style: none;
}
.teitle {
    color:var(--heder-text);
font-size: 18px;
font-weight: 700;
line-height: 2; /* 200% */
letter-spacing: 1.08px;
}
.teitle-text {
    color: var(--text-color);
font-size: 16px;
font-weight: 400;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.48px;
}
.city-company {
    color:var(--background-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}
.list-img {
    list-style: none;
}